* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}


.hrs_input {
    height: 42px;
    width: 38px;
    background-color: #6C5B7B;
    float: right;
    
    
}


.scroll {
    width: 220px;
    height: 276px;
    background-color: red; 
}

.container {
    display: flex;
    flex-direction: column;


}
.big{
    display: flex;

    height: 670px;
    width: 80%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.job {
    background: #FFFCE7;
    border: 1px solid #D8CE7A;
    box-sizing: border-box;
    width: 100%;
    height: 33px;
}
.info{
    display: flex;
    padding-top: 36px;
    padding-left: 73px;
    flex-direction: column;
}
.space {
    height: 5px;
    width: 160px;
    float: left;
}
.calculator{
    padding-top: 36px;
    padding-left: 73px;


}
.hours {
    width: 73px;
    height: 40px;
    background: #FFFCE7;
    border: 1px solid #D8CE7A;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
    
    


}
html {
    width: 782px;
    background-color: #FEF6B3;
}
.multiply{
    font-size: 24px;
    height: 20px;
    padding-top: 10px;
    font-family: Roboto;
    padding-right: 10px;
    font-weight: bold;

}
.hrs{
    width: 73px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: larger;

    


}.equals {
    display: flex;
    align-items: center;
    width: 16px;
    height: 25px;
    font-family: Roboto;
    font-size: 24px;
    padding-top: 28px;
    text-align: center;

}
.total_amount{
    width: 153px;
    height: 40px;
    box-sizing: border-box;
    padding-bottom: 10px;
    float: left;
    padding-left: 20px;
    font-size: x-large;
    font-weight: 600;
}
.button {
    width: 86px;
    height: 33px;
    background: #FFE073;
    


}


.total_box{
    display: flex;
    width: 650px;
    height: 80px;
    

}

.infocontainer{
    display: flex;
}
.total{
    display: flex;
    width: 650px;
    height: 35px;
    padding-top: 10px;
    font-size: 36px;
    float: left;
    padding-top: 25px;

}
.number{
    
   
    box-sizing: border-box;
    border-radius: 6px;
    width: 150px;
    height: 41px;
    padding-left: 20px;

}
.total_box_emty{
    width: 10px;
}


.main {
    display: flex;
    width: 80%;
    margin: auto;  
}

.history_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: FEF6B3;
    flex-direction: row;
    width: 270px;
    height: 400px;

    
}

.inputfield{
    display: flex;
}

.equalsTotal {
    display: flex;
    margin-left: 65px;
}
.calculator_box{
    display: flex;
    flex-direction: row;

}
.history{
    width: 350px;
    height: 328px;
    background-color: #FFE073;
    overflow: auto;

}
.mult {
    font-size: 20px;
    text-align: center;
}

.history_item {
    width: 100%;
    text-align: left;
    font-size: larger;
    border-bottom: #FFFCE7 2px solid;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}