.total {
    height: 42px;
    width: 356px;
    background-color: #F8B195;
}
.hrs {
    width: 61px;
    height: 42px;
    background-color: #6C5B7B;
    float: left;
    color: #F8B195;
    text-align: center;
    font-size: 18px;
    

}
.hrs_input {
    height: 42px;
    width: 38px;
    background-color: #6C5B7B;
    float: right;
    
}
body {
    background-color: #F67280;
}
.hours {
    background-color: #6C5B7B;
}








.dropbtn {
    background-color: #6C5B7B;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 500px;
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFBCA1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: red;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: red;}
    

